<h1>Carrito de Compras</h1>

<ul>
  {{#each cartItems.products}}
    <li>
      <h2>{{ this.product.title }}</h2>
      <p>Categoría: {{ this.product.category }}</p>
      <p>Precio: ${{ this.product.price }}</p>
      <p>Cantidad: {{ this.quantity }}</p>
            <td><button class="remove-item-button" data-product-id="{{this.product._id}}">Eliminar</button></td>
    </li>
  {{/each}}
</ul>

<button id="empty-cart">Vaciar Carrito</button>

<script src="static/js/carts.js"></script>
