<head>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<h1 class="page-title">HOME-Productos</h1>
<ul class="product-list-container">
    {{#each products}}
    <div class="product-list-item">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Precio: ${{price}}</p>
        <img src="static/img/{{thumbnail}}" alt="{{title}}" width="200">
    </div>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="static/js/index.js"></script>