<h1>HOME-Productos</h1>
<ul>
    {{#each products}}
    <div class="product">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Precio: ${{price}}</p>
        <img src="/img/{{thumbnail}}" alt="{{title}}" width="200">
    </div>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
