<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<nav class="navigation">
    <ul class="menu">
        <li><a href="{{host}}">Home</a></li>
        <li><a href="{{host}}/products">Products</a></li>
        <li><a href="{{host}}/realtimeproducts">RealTimeProducts</a></li>
        <li><a href="{{host}}/carts">Cart</a></li>
        <li><a href="{{host}}/chat">Chat</a></li>
        <li><a href="{{host}}/profile">Perfil de usuario</a></li>
        <li><a href="{{host}}/roles">UserRoles</a></li>

    </ul>
</nav>

<div class="product-card">
<div class="product-item">
    <h2>{{ productData.title }}</h2>
    <p>Categoría: {{ productData.category }}</p>
    <p>Precio: ${{ productData.price }}</p>
    <p>Id: {{productData._id}}</p>
    <p>Stock: {{productData.stock}}</p>
    <img src="../static/img/{{productData.thumbnail}}" alt="{{productData.thumbnail}}">
    <button class="add-to-cart-from-detail-button" data-product-id="{{ productData._id }}">Agregar al Carrito</button>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="../static/js/cartsProductDetail.js"></script>