<div class="product-item">
    <h2>{{ productData.title }}</h2>
    <p>Categoría: {{ productData.category }}</p>
    <p>Precio: ${{ productData.price }}</p>
    <p>Id: {{productData._id}}</p>
    <img src="../static/img/{{productData.thumbnail}}" alt="{{productData.thumbnail}}" >
    <button class="add-to-cart-from-detail-button" data-product-id="{{ productData._id }}">Agregar al Carrito</button>
</div>
<script src="../static/js/cartsProductDetail.js"></script>
