{{!-- DEJAR ESTA VERSION: --}}
<head>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<nav class="navigation">
    <ul class="menu">
        <li><a href="http://localhost:8080">Home</a></li>
        <li><a href="http://localhost:8080/products">Products</a></li>
        <li><a href="http://localhost:8080/realtimeproducts">RealTimeProducts</a></li>
        <li><a href="http://localhost:8080/carts">Cart</a></li>
        <li><a href="http://localhost:8080/chat">Chat</a></li>
        <li><a href="http://localhost:8080/profile">Perfil de usuario</a></li>

    </ul>
</nav>

<div class="welcome-message">
<h2>Hola, {{user.name}}!</h2>
</div>

<div id="product-card-container" class="product-card-container">
    {{#each products}}
    <div class="product-card">
        <h2>{{ title }}</h2>
        <p>Categoría: {{ category }}</p>
        <p>Precio: ${{ price }}</p>
        <p>ID: {{ _id }}</p>
        <p>Stock: {{stock}}</p>


        <!-- Agregar un botón para agregar el producto al carrito -->
        <a href="http://localhost:8080/products/{{ _id }}"><button class="product-detail-button">Ver detalle</button></a>
        <button class="add-to-cart-button" data-product-id="{{ _id }}" data-cart-id="{{../userCartId}}">Agregar al Carrito</button>
    </div>
    {{/each}}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="static/js/carts.js"></script>