<head>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<nav class="navigation">
    <ul class="menu">
        <li><a href="{{host}}">Home</a></li>
        <li><a href="{{host}}/products">Products</a></li>
        <li><a href="{{host}}/realtimeproducts">RealTimeProducts</a></li>
        <li><a href="{{host}}/carts">Cart</a></li>
        <li><a href="{{host}}/chat">Chat</a></li>
        <li><a href="{{host}}/profile">Perfil de usuario</a></li>
        <li><a href="{{host}}/roles">UserRoles</a></li>

    </ul>
</nav>
<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <p>{{user.role}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>